---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInMonth = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y-%m"' %}
  {% for month in postsInMonth %}
    {% assign monthName = month.name | date: "%B %Y" %}
    <li>
      <a href="#{{ month.name }}">
        <strong>{{ monthName }}</strong> <span class="taxonomy__count">{{ month.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByMonth = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y-%m"' %}
{% for month in postsByMonth %}
  {% assign monthName = month.name | date: "%B %Y" %}
  <section id="{{ month.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ monthName }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in month.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
